[2018-10-29 15:21] afritzler opened #88 "Compacting Incremental Snapshot Files"
Question: How are you guys dealing with the incremental backup files when restoring a cluster? I am asking, because in Kubify we expect one full snapshot file to trigger a restore operation. What is the best way to compact all the incremental backup files into one? Do you have already something handy?

[2019-04-18 06:17] vlerenc opened #91 "Update Operator"
**Feature (What you would like to be added):**
Run multi-node ETCD during maintenance operations, so that it can quickly fail-over.

**Motivation (Why is this needed?):**
Shorter ETCD (=API server=cluster) downtimes during maintenance operations that effect ETCD like rolling the seed node it runs on or updating the ETCD spec.

**Approach/Hint to the implement solution (optional):**
Operator that s

[2019-09-27 10:07] amshuman-kr opened #2 "☂️ Gardener ETCD Operator a.k.a. ETCD Druid"
**Feature (What you would like to be added):**
Summarise the roadmap for `etcd-druid` with links to the corresponding issues.

**Motivation (Why is this needed?):**
A central place to collect the roadmap as well as the progress.

**Approach/Hint to the implement solution (optional):**
- [ ] Basic Controller
  - [x] Define CRD types
  - [X] Implement basic controller to deploy `StatefulSet` (with `

[2019-11-25 17:38] georgekuruvillak opened #5 "Documentation for etcd-druid deployment"
Document information about how to deploy etcd-druid and what all resources are needed by etcd-druid while reconciling an `etcd` resource.

[2020-02-18 12:13] swapnilgm opened #11 ":BUG: Etcd-sts should block owner etcd resource deletion"
Currently, the druid deploy etcd statefulset with owenerReference pointing to etcd resources. But the `blockOwnerDeletion` field is set to `false` as you can see [here](https://github.com/gardener/etcd-druid/blob/master/charts/etcd/templates/etcd-statefulset.yaml#L18). But deletion of etcd resource should be blocked until all the resources deployed by it like statefulset, service, configmap are de

[2020-02-27 06:11] #11 closed

[2020-03-04 10:42] georgekuruvillak opened #17 "[Feature]"
**Feature (What you would like to be added):**
The status in `etcd` resource does not reflect the current snapshot [full/delta]. Update the etcd resource status to reflect the latest snapshot information.

**Motivation (Why is this needed?):**
It would help in control plane migration to fetch the latest snapshot for update.
**Approach/Hint to the implement solution (optional):**

[2020-03-04 10:42] georgekuruvillak commented on #17
@shreyas-s-rao @swapnilgm

[2020-03-06 08:51] rfranzke opened #23 "[Feature] Control etcd + backup-restore sidecar versions"
**Feature (What you would like to be added):**
The etcd-druid should control the both the versions for etcd + backup-restore sidecar.

**Motivation (Why is this needed?):**
It controls the manifests + configuration for the statefulset and the used versions must fit to it. Hence, it makes sense to control them.

**Approach/Hint to the implement solution (optional):**
Please use the image vector app

[2020-03-10 11:20] swapnilgm commented on #17
The etcd-backup-restore, restores from latest snapshot and there is no PITR supported. So such requirements should not be there.

But it makes sense, as  ab individual project - irrespective of gardener, where case of dynamic snapshot demand, i.e. when snapshot is triggered via API call on etcd-backup-restore server is valid. It makes sense to me, to druid to introduce `snapshot` resource, on crea

[2020-03-10 17:10] shreyas-s-rao commented on #17
In that case, don't we want a separate API to simply expose latest snapshot details? Or is the case that druid will **have** to take a snapshot in order to get the latest snapshot info?

[2020-03-17 11:25] georgekuruvillak opened #25 "[BUG] Validations for etcd spec"
**Describe the bug:**
Validations for the below scenarions:
* backup-secretRet nil-check
* volumeTemplateName not provided
* StorageClass not provided

**Expected behavior:**
A clear and concise description of what you expected to happen.

**How To Reproduce (as minimally and precisely as possible):**

**Logs:**

**Screenshots (if applicable):**

**Environment (please complete the following inform

[2020-03-17 14:29] #23 closed

[2020-04-14 04:08] jia-jerry opened #39 "[Feature] Avoid fetching resource from external resources on internet during bootstrap"
**Feature (What you would like to be added):**
In Alicloud China regions, sometimes it is not possible to run `apk get`. We need to avoid such statement.
**Motivation (Why is this needed?):**
Shoot cluster can't be created in China regions sometimes.
**Approach/Hint to the implement solution (optional):**

[2020-04-14 06:37] swapnilgm commented on #39
/assign @swapnilgm

[2020-04-14 06:53] swapnilgm commented on #39
**Copying the offline discussion and findings summary here:**
Default etcd container image or to be precise alpine base image doesn't come with wget version supporting SSL flags.  So, we injected bootstrap script with `apk add wget` call to get coorrect wget version. Hence etcd bootstrap has this dependency on internel.

**Finding: **
We can inject the provider self-signed CA bundle to root ca dir

[2020-04-15 15:28] #39 closed

[2020-04-16 09:10] ialidzhikov opened #44 "[BUG] panic: "invalid memory address or nil pointer dereference""
**Describe the bug:**
etcd-druid panics with nil pointer.

**Expected behavior:**

**How To Reproduce (as minimally and precisely as possible):**

**Logs:**

[code]

**Screenshots (if applicable):**

**Environment (please complete the following information):**
 - Etcd version/commit ID :
 - Etcd-druid version/commit ID :
 - Cloud Provider [All/AWS/GCS/ABS/Swift/OSS]:

**Anything else we need to kn

[2020-04-16 09:14] georgekuruvillak commented on #44
fixed in this #42

[2020-04-16 12:52] ialidzhikov commented on #44
Fixed with [v0.1.15](https://github.com/gardener/etcd-druid/releases/tag/v0.1.15) release.

[2020-04-16 12:52] #44 closed

[2020-04-17 07:38] georgekuruvillak opened #45 "[BUG] Validation that selector matches labels in etcd.Spec"
**Describe the bug:**
A clear and concise description of what the bug is.
The statefulset prevents creation of statefulsets where the labels in the template does not match the selector. Etcd however does not have a similar validation.
**Expected behavior:**
A clear and concise description of what you expected to happen.
Etcd resource creation should through an error when the labels in the template

[2020-04-20 09:32] swapnilgm opened #46 "[Feature] Expose the monitoring configuration as per gardener extensions contract"
**Feature (What you would like to be added):**
Expose the associated monitoring and logging configuration as per the https://github.com/gardener/gardener/blob/master/docs/extensions/logging-and-monitoring.md

**Motivation (Why is this needed?):**
Thought Druid is standalone component, it is designed adhere to gardener extension contract as well. As a result it might have to take responsibility of

[2020-04-21 05:47] KesavanKing opened #47 "[BUG] HVPA not able to scale etcd."
**Describe the bug:**
VPA recommender misses the permission to get scale subresource because of which VPA on etcd is not happening

**Expected behavior:**
As load increases based on VPA recommendations , etcd should be scaled.

**How To Reproduce (as minimally and precisely as possible):**

**Logs:**

**Screenshots (if applicable):**

**Environment (please complete the following information):**
 -

[2020-04-30 05:56] rfranzke opened #50 "[Feature] Automatic Update-PR script"
**Feature (What you would like to be added):**
This repository should also benefit from automatic update PRs of dependent components. etcd-druid deploys etcd-backup-restore, hence, when a new version of it is released then automatic update PRs should be opened by CI, similar to https://github.com/gardener/gardener/pull/2260.

**Motivation (Why is this needed?):**
Less manual actions.

**Approach/H

[2020-04-30 06:09] swapnilgm commented on #47
Fixed via #48

[2020-04-30 06:09] #47 closed

[2020-05-06 15:35] #50 closed

[2020-05-08 04:33] swapnilgm opened #54 "[Enhancement] let's not hardcode "cluster-autoscaler.kubernetes.io/safe-to-evict=false" for all etcd"
**Feature (What you would like to be added):**
etcd-druid should not hardcode the annotation "cluster-autoscaler.kubernetes.io/safe-to-evict=false"  on etcd pods and let user configure it using annotation field in CRD.

**Motivation (Why is this needed?):**
Not  every etcd is critical to system. The above mentioned annotation is specific to cluster-autoscaler and not etcd. Depending on the use of

[2020-05-08 12:36] #54 closed

[2020-08-06 13:08] amshuman-kr opened #85 "[Feature] Leader election settings should be increased and made configurable in chart manifests"
**Feature (What you would like to be added):**
Leader election settings should be increased and made configurable in chart manifests.

**Motivation (Why is this needed?):**
The default leader election settings in controller-runtime seem to create too much load on the apiserver. It should be possible to configure them to reduce load on the apiserver without having to make any changes to `etcd-druid

[2020-09-02 09:51] amshuman-kr opened #95 "[Feature] Move to etcd v3.3.23 or higher"
**Feature (What you would like to be added):**
Move to etcd `v3.3.23` or the latest `v.3.3.x` patch release .

**Motivation (Why is this needed?):**

**Approach/Hint to the implement solution (optional):**

[2020-09-02 09:52] amshuman-kr opened #96 "[Feature] Move to etcd v3.4.10 or higher"
**Feature (What you would like to be added):**
Move to etcd `v3.4.10` or the latest `v3.4.x` patch release.

**Motivation (Why is this needed?):**

**Approach/Hint to the implement solution (optional):**
We might have to build our own custom image for etcd to package the dependencies of the bootstrap script (`wget`).

[2020-09-02 10:27] amshuman-kr opened #97 "[Feature] Unit tests for etcd-druid reconciliation cycle"
**Feature (What you would like to be added):**
Unit tests for etcd-druid reconciliation cycle.

**Motivation (Why is this needed?):**
We should have both positive and negative scenarios covered in the unit tests to improve our own productivity and to avoid regression.

**Approach/Hint to the implement solution (optional):**
Replace the kubebuilder way of tests (running `kube-apiserver` and `etcd`)

[2020-09-02 10:27] amshuman-kr commented on #97
/assign

[2020-09-27 10:02] amshuman-kr opened #99 "[BUG] Etcd failed to flush changes from WAL to the DB before shutting down/crashing."
**Describe the bug:**
After a single-node etcd instance provisioned via `etcd-druid` terminated abnormally (non-zero exit code) the `etcd` container restarted and the the `backup-restore` sidecar container (on data directory verification) had the following logs.

[code]

On circumventing the backup restoration triggered because of this, it was found that the WAL directory (not checked by the `back

[2020-09-30 08:15] amshuman-kr opened #100 "[Feature] Performance/load test for etcd instances"
**Feature (What you would like to be added):**
We should have performance/load test for etcd instances integrated with `etcd-druid` CI/CD pipelines which should test at least the following aspects.

1. Create an etcd database close to `8Gi`.
1. Create a high rate of updates (`>500/s`) into etcd and high rate of delta snapshots (`>4/m` of `>100Mi` snapshots).
1. The changes should include large siz

[2020-09-30 14:38] shreyas-s-rao commented on #88
@majst01 We require incremental snapshots in a general sense to avoid frequent large full snapshots which usually create a network costs. If you do want to avoid delta snapshots, you can simply configure `chart/etcd-backup-restore/values.yaml` by setting the `backup.deltaSnapshotPeriod` value to anything less than `1s` to completely disable delta snapshots, and you can also configure the `backup.s

[2020-09-30 14:42] majst01 commented on #88
Thanks @shreyas-s-rao for the hints.

We tried ourselves to set the backup to do full backups only, but from our experience setting `backup.schedule` had no effect.
Maybe @Gerrit91 can give you more information on that.
We instead modified the generated `etcd` resource manually which is not the way to go.

[2020-10-01 07:22] amshuman-kr commented on #88
@majst01 I just tried the following and delta snapshots were disabled with only fullsnapshots enabled.
[code]

[code]

[2020-10-01 07:30] amshuman-kr commented on #88
It really depends on the workload pattern in the cluster. In most clusters the delta snapshots are much smaller than 100M but in the seed and garden control-plane, it is quite high. As a consequence, the full snapshot size is also quite high (2-3G).

We have an issue to compress/decompress snapshots (full as well as delta) https://github.com/gardener/etcd-backup-restore/issues/255.

We also have t

[2020-10-01 10:10] majst01 commented on #88
@amshuman-kr in which resource did you set these setting ?

[code]

[2020-10-01 10:13] Gerrit91 commented on #88
The `etcd` resource is deployed by Gardener and I think only the extension-providers modify the values via webhooks. The gardener-extension-provider-gcp has a `Schedule` field in the [deployment config](https://github.com/gardener/gardener-extension-provider-gcp/blob/v1.11.1/pkg/apis/config/v1alpha1/types.go#L65), but as far as I can see from the code this config flag is not used.

[2020-10-01 16:43] amshuman-kr commented on #88
The `Etcd` resource if `etcd-druid`.

[2020-10-07 09:09] amshuman-kr commented on #100
It is also a goal to try and reproduce https://github.com/gardener/etcd-druid/issues/99

[2020-10-21 07:08] amshuman-kr opened #106 "[Feature] Move status update to a separate controller in druid"
**Feature (What you would like to be added):**
The main reconciliation loop in `etcd-druid` takes care of everything from updating the owned resources and updating the status in the `Etcd` resource. We should create a separate controller (still part of the etcd-druid controller manager) which reconciles only the status section of the `Etcd` resource.

Credit: @rfranzke ❤️

**Motivation (Why is thi

[2020-10-21 07:09] amshuman-kr commented on #106
cc @rfranzke

[2020-10-21 07:12] rfranzke commented on #106
/normal

[2020-10-21 16:09] amshuman-kr commented on #95
Closed in favour of #96

[2020-10-21 16:10] #95 closed

[2020-10-21 17:50] amshuman-kr opened #107 "Multi-Node/Clustered ETCD"
# Stories
Please provide stories that we plan to tackle:
- As operator ...
- As provider ...

# Motivation
We should support provisioning and management of multi-node etcd clusters via etcd-druid to serve the following goals:
- Generally, better robustness, resilience, and high availability (HA)
- Zero downtime maintenance (ZDM)
- Non-disruptive scaling
- Single-zone outage/fault tolerance
- Ephem

[2020-11-06 05:07] amshuman-kr opened #113 "[BUG] Automatic recovery from informer errors"
**Feature (What you would like to be added):**
If there is any issue with watch connections used by the informers, `etcd-druid` should detect this and try to automatically recover from it.

**Motivation (Why is this needed?):**
Manual intervention is required without such detection and automatic recovery.

**Approach/Hint to the implement solution (optional):**
We need to revendor client-go and po

[2020-11-17 09:48] abdasgupta commented on #106
/assign

[2020-11-20 18:20] #96 closed

[2020-11-30 16:42] abdasgupta commented on #88
/assign

[2020-12-03 10:28] amshuman-kr opened #124 "[Feature] Auto-recover if database directory is locked"
**Feature (What you would like to be added):**
In some infrastructures (Azure), abnormal termination of etcd container/pod leads to the database directory lock not being released and prevents the backup-restore to hang while opening the database for verification on etcd container restart.

We should try to detect this scenario and try to recover from it automatically.

**Motivation (Why is this ne

[2021-01-12 16:31] abdasgupta opened #129 "[Feature] Provision for multiple instances of ETCD through ETCD CRD"
**Feature (What you would like to be added):** ETCD druid should create multiple ETCD instances(along with ETCDBR instances) as specified in ETCD CRD.

**Motivation (Why is this needed?):** To allow bootstrapping of multinode ETCD cluster for shoot cluster

**Approach/Hint to the implement solution (optional):**

Refer: https://github.com/gardener/etcd-druid/issues/107

[2021-02-02 09:55] ishan16696 commented on #113
I have revendored the client-go pkg as well as other dependent packages to version v0.19.x which has this watch connection used by the informers fix(https://github.com/kubernetes/kubernetes/pull/87329) but while running the test cases with `make test` to check the backward compatibility, this error encountered.
error:
`../../../go/pkg/mod/k8s.io/kube-openapi@v0.0.0-20190816220812-743ec37842bf/pkg/

[2021-02-09 06:25] amshuman-kr opened #134 "[Feature] Automated gardener integration tests"
**Feature (What you would like to be added):**

We should created a suite of automated tests that test gardener integration.

**Motivation (Why is this needed?):**

We should detect as many regression and backward compatibility issues before merging a PR and to keep the master release-ready at any point in time.

**Approach/Hint to the implement solution (optional):**

[2021-02-10 06:40] amshuman-kr opened #136 "[Feature] Make it possible to have smaller auto-compaction-retention period for etcd"
**Feature (What you would like to be added):**

Make it possible to have smaller auto-compaction-retention period for etcd (both main etcd and the embedded ETCD during restoration).

**Motivation (Why is this needed?):**

High update rate can overflow memory and storage if `auto-compaction-retention` period is long. The current value is `24h`.
https://github.com/gardener/etcd-druid/blob/8307a62ad7

[2021-02-10 06:47] amshuman-kr opened #137 "[Feature] Integrate backup compression feature from etcd-backup-restore with etcd-druid and gardener"
**Feature (What you would like to be added):**

Integrate backup compression feature from etcd-backup-restore with etcd-druid (by enabling configuration via `Etcd` resource spec) and then integrate with gardener.

**Motivation (Why is this needed?):**

The backup compression feature will be used primarily in the etcd-druid and gardener context.

**Approach/Hint to the implement solution (optional)

[2021-03-10 09:40] amshuman-kr opened #147 "[Feature] Failed backups to not block incoming traffic and trigger high prio alert instead"
**Feature (What you would like to be added):**
Currently, the health check of the etcd pods is linked to the backup health (last backup upload succeeded) in addition to just etcd health. But as long as etcd data is backed by persistent volumes (it is now), we can afford for etcd to continue serve income requests even when backup upload fails as long as high priority alerts are triggered when backu

[2021-03-10 18:39] ishan16696 commented on #136
should I also make `auto-compaction-mode`  configurable via `Etcd` resource spec?

[2021-03-11 08:52] amshuman-kr commented on #136
Yes. Makes sense in terms of feature completeness.

[2021-03-31 08:05] #137 closed

[2021-03-31 08:37] amshuman-kr opened #151 "[Feature] Modularize and enhance status management according to multi-node ETCD proposal"
**Feature (What you would like to be added):**

1. Enhance the `Etcd` resource status structure according to the changes proposed [here](https://github.com/gardener/etcd-druid/blob/master/docs/proposals/multi-node/README.md#status)
2. Enhance etcd-backup-restore and etcd-druid to update the corresponding member's [health status](https://github.com/gardener/etcd-druid/blob/master/docs/proposals/mul

[2021-03-31 08:46] amshuman-kr opened #152 "[Feature] Enhance multi-node ETCD proposal to handle backup health more explicitly"
**Feature (What you would like to be added):**

The current multi-node ETCD [proposal](https://github.com/gardener/etcd-druid/blob/master/docs/proposals/multi-node/README.md) to handle backup health more explicitly. Especially, consider the impact of not cutting off requests when backup upload fails.

**Motivation (Why is this needed?):**

**Approach/Hint to the implement solution (optional):**

[2021-04-12 10:34] amshuman-kr opened #158 "[Feature] Enhance reconciliation to handle multi-node scenario in etcd-druid"
**Feature (What you would like to be added):**

Enhance reconciliation to handle [multi-node scenario](https://github.com/gardener/etcd-druid/blob/master/docs/proposals/multi-node/README.md) in `etcd-druid`. This should include the following topics.

- [x] Maintain the `Ready` and `AllMembersReady` [conditions](https://github.com/gardener/etcd-druid/blob/master/docs/proposals/multi-node/README.md#

[2021-04-12 10:38] amshuman-kr commented on #129
@abdasgupta Does it make sense to close this issue in favour of the issues listed here -> https://github.com/gardener/etcd-druid/issues/107? I have tried to keep the scope for those issues specific and with links to the relevant sections in the proposal.

[2021-04-12 10:48] abdasgupta commented on #129
@amshuman-kr  Yes, go ahead please

[2021-04-12 11:23] amshuman-kr commented on #129
Thanks.

/close In favour or https://github.com/gardener/etcd-druid/issues/158

[2021-04-12 11:23] #129 closed

[2021-04-15 11:03] shreyas-s-rao opened #159 "[Feature] Move out bootstrap script to etcd image"
**Feature (What you would like to be added):**
Move out etcd bootstrap script to [etcd custom image](https://github.com/gardener/etcd-custom-image).

**Motivation (Why is this needed?):**
To avoid the issue of out-of-sync configmap and statefulset spec (and hence etcd image version) during etcd version updates on Gardener landscapes.

**Approach/Hint to the implement solution (optional):**

[2021-04-18 07:33] amshuman-kr opened #160 "[BUG] Fix failing test after"
**Describe the bug:**
The following test case is failing after the commit https://github.com/gardener/etcd-druid/commit/72ec7a0d5d5b1a25dbacd0546897bf8239630755.

**Expected behavior:**
No test cases should fail.

**How To Reproduce (as minimally and precisely as possible):**

Run `make test` on the commit https://github.com/gardener/etcd-druid/commit/72ec7a0d5d5b1a25dbacd0546897bf8239630755.

**L

[2021-04-18 07:33] amshuman-kr commented on #160
This is blocking PR merge for https://github.com/gardener/etcd-druid/pull/156 probably other PRs too.

[2021-04-18 07:57] ishan16696 commented on #160
Hi @amshuman-kr,
My PR [this](https://github.com/gardener/etcd-druid/pull/153)  had a fix for this test case but we don't want Abhishek to rebase again, so I removed this fix from my PR and Abhishek include this fix in his [PR](https://github.com/gardener/etcd-druid/pull/133)

[2021-04-18 09:16] #160 closed

[2021-04-18 09:25] #152 closed

[2021-04-21 11:15] #106 closed

[2021-04-22 13:33] #136 closed

[2021-04-26 13:19] #159 closed

[2021-04-29 07:42] amshuman-kr opened #165 "[Feature] Deploy/maintain the correct `PodDisruptionBudget` configuration according to the Etcd resource status conditions"
**Feature (What you would like to be added):**

Deploy/maintain the correct [`PodDisruptionBudget`](https://github.com/gardener/etcd-druid/blob/master/docs/proposals/multi-node/README.md#poddisruptionbudget) configuration according to the `Etcd` resource [status](https://github.com/gardener/etcd-druid/blob/master/docs/proposals/multi-node/README.md#status) [conditions](https://github.com/gardener/

[2021-04-30 10:00] amshuman-kr commented on #85
Closed by https://github.com/gardener/etcd-druid/pull/141.

[2021-04-30 10:00] #85 closed

[2021-05-02 09:20] amshuman-kr opened #168 "[Feature] Enhance the Etcd resource status structure as proposed in the multi-node proposal"
**Feature (What you would like to be added):**

Enhance the Etcd resource status structure according to the changes proposed [here](https://github.com/gardener/etcd-druid/blob/master/docs/proposals/multi-node/README.md#status) while maintaining backward compatibility for the consumers of `Etcd` resource status (such as the `gardenlet`).

**Motivation (Why is this needed?):**

Pick individually exe

[2021-05-02 09:24] amshuman-kr commented on #151
Split the updating of the `Etcd` resource status structure out to https://github.com/gardener/etcd-druid/issues/168.

[2021-05-17 07:35] amshuman-kr opened #171 "[Feature] Avoid locks during reconciliation"
**Feature (What you would like to be added):**

#163 introduced locking the main and custodian controller for every update to the `Etcd` resource and its status.

This should be avoided and the race conditions in the tests should be solved in a different way.

**Motivation (Why is this needed?):**

Such synchronisation will lead to performance bottlenecks.

**Approach/Hint to the implement solutio

[2021-05-17 08:15] amshuman-kr commented on #151
Moved this to "_[Feature] Make etcd-backup-restore Kubernetes-aware keep member and backup status up-to-date [#333](https://github.com/gardener/etcd-backup-restore/issues/333)_".

[2021-05-17 18:13] abdasgupta commented on #171
I tried with patch and removed locks. But the unit tests gave race condition error. Should I raise a PR with the changes for patch, just for your review?

[2021-05-18 06:16] amshuman-kr opened #172 "[Feature] Move ETCD monitoring configuration into `etcd-druid`"
**Feature (What you would like to be added):**

Move ETCD monitoring configuration into `etcd-druid` according to gardener's [extensions monitoring integration](https://github.com/gardener/gardener/blob/master/docs/extensions/logging-and-monitoring.md#extensions-monitoring-integration).

**Motivation (Why is this needed?):**

 Keep the monitoring configuration close to the component.

**Approach/H

[2021-05-18 06:33] amshuman-kr commented on #171
Hmm. Yes, you can raise a draft PR.

[2021-05-18 15:52] amshuman-kr commented on #171
I think I found the reason for the race-condition while using `Status().Patch()` or `Status.Update()` without synchronisation. The race condition seems to occur when the `client-go/rest` tries to decode the response back into the object (see the error trace below).

This in turn seems to relate to a bug in the `DeepCopy` implementation where some string pointers are not deeply copied. When I try p

[2021-05-18 16:22] amshuman-kr commented on #171
I tried to re-generenate the `DeepCopy` methods. But the race-conditions persist. So, for now, the only thing that mitigates the problem is to pass a "freshly constructed" object to `Status()/.Patch()`, as mentioned earlier.

[2021-05-18 16:48] amshuman-kr commented on #171
To be clear, this is really a work-around and it certainly will only work with `client.RawPatch()` and not with `client.MergeFrom()` or anything else that depends on the spec/status content of the object passed to `Status().Patch()`.

[2021-05-19 11:22] amshuman-kr commented on #171
I think I found the root cause. The auto-compaction config in common config seems to be not deeply copied.
[code]

I can now see that https://github.com/gardener/etcd-druid/pull/157 forgot to generate `DeepCopy`. I tried generating it now. But for some reason, I still see the auto-compaction config not deeply copied.

Will dig some more.

[2021-05-19 12:15] amshuman-kr commented on #171
Mystery solved. After separating `api` into its own go module in https://github.com/gardener/etcd-druid/pull/169, the rest of `etcd-druid` uses the [vendored api](https://github.com/gardener/etcd-druid/tree/master/vendor/github.com/gardener/etcd-druid/api/v1alpha1). So, re-generating the `DepCopy` functions followed by `make revendor` fixed the race-condition.

[2021-05-19 12:21] amshuman-kr commented on #171
@abdasgupta Can you please change `Status().Patch()` to `Status().Update()` (that fixed all failing test cases after race-conditions were fixed)? Let's revisit using `Status.Patch()' as a separate issue.

[2021-05-20 10:24] #171 closed

[2021-05-20 17:53] #168 closed

[2021-05-21 07:41] timuthy opened #179 "[Feature] Prepare Druid for Server-Side Apply"
**Feature (What you would like to be added):**
Druid should use and support [Server-Side Apply](https://kubernetes.io/docs/reference/using-api/server-side-apply/) where applicable once Gardener dropped the support for seed clusters with K8s <= 1.17 (https://github.com/gardener/gardener/issues/4083).

**Motivation (Why is this needed?):**
[Server-Side Apply](https://kubernetes.io/docs/reference/usi

[2021-05-21 07:41] timuthy commented on #151
/assign

[2021-05-27 06:11] vlerenc commented on #147
As we have seen lately with the off-by-one (32/33 chunks) on GCP, doesn't it make sense to give this one a higher prio @amshuman-kr?

[2021-06-01 10:02] amshuman-kr opened #186 "[Feature] Simplify reconciliation by simplifying claim logic for StatefulSet, Service and ConfigMap based on Etcd resource name"
**Feature (What you would like to be added):**

The reconciliation flow of `etcd-druid` includes claiming from potentially multiple pre-existing `StatefulSet`, `Service` and `ConfigMap` objects if they exist. This is done by [selecting the objects based on `spec.selector` in the `Etcd` resource](https://github.com/gardener/etcd-druid/blob/6030a7e67d726a665db690380fa2fa81adae3822/controllers/contro

[2021-06-01 10:13] timuthy commented on #186
/assign

[2021-06-11 06:02] timuthy commented on #186
/unassign due to restricted capacity

[2021-06-14 08:37] amshuman-kr opened #191 "[Feature] Schedule regular backup compaction"
**Feature (What you would like to be added):**

With the newly introduced `compaction` command in `etcd-backup-restore` to asynchronously compact backups (latest full snapshot and its following incremental snapshots into a single full snapshot) in https://github.com/gardener/etcd-backup-restore/pull/301, we should enhance `etcd-druid` to schedule the backup compaction at regular intervals to limit

[2021-06-14 08:38] amshuman-kr commented on #191
/assign @aaronfern
cc @abdasgupta

[2021-06-14 08:39] amshuman-kr commented on #88
This issue was partially addressed in https://github.com/gardener/etcd-backup-restore/pull/301. The functionality will be complete once #191 is completed.

[2021-06-15 15:11] #151 closed

[2021-06-17 11:56] afritzler opened #194 "[Feature] Standalone Helm Chart for Etcd Druid"
**Feature (What you would like to be added):**
Would be great if we would have a standalone helm chart for druid which can be used outside Gardener.

**Motivation (Why is this needed?):**
Using druid instead of the etcd-operator and utilizing the backup and restore capabilities.

**Approach/Hint to the implement solution (optional):**
Cool thing would be to have a chart in the `charts` repository

[2021-06-22 06:20] amshuman-kr opened #196 "[BUG] Fix reconciliation predicates to fully comply with gardener extension contract"
**Describe the bug:**
The main controller reconciles changes to `Etcd` resource `spec` even if `gardener.cloud/reconcile` annotation is not added. This is against the [gardener extension contract](https://github.com/gardener/gardener/blob/master/docs/extensions/reconcile-trigger.md).

**Expected behavior:**
The main controller should use the predicates in such a way that changes to the `Etcd` reso

[2021-07-06 10:42] plkokanov opened #201 "[Feature] Start a job which will copy ETCD backups between backup buckets via etcd-backup-restore"
**Feature (What you would like to be added):**
Functionality to start a job which will use etcd-backup-restore to copy ETCD backups between backup buckets during the restore phase of Control Plane Migration (you can check the revised GEP [here](https://github.com/gardener/gardener/pull/4107/files)

The ETCD druid can find out whether it should start such a job via an additional field in the `etcd`

[2021-07-06 10:42] plkokanov commented on #201
/assign

[2021-07-15 09:22] #191 closed

[2021-07-15 10:05] shreyas-s-rao commented on #88
This issue is now fully addressed with https://github.com/gardener/etcd-druid/pull/197. Hence closing it.
The snapshot compaction feature will be available in etcd-druid `v0.6.0` release shortly.

[2021-07-15 10:05] #88 closed

[2021-07-16 10:44] shreyas-s-rao commented on #196
@amshuman-kr from the [extension contract](https://github.com/gardener/gardener/blob/master/docs/extensions/reconcile-trigger.md), I see that `They have to remove this annotation as soon as they begin with their reconcile operation and maintain the status of the extension resource accordingly`. Whereas, in the druid controller, we actually remove the operation annotation *after* performing the rec

[2021-07-16 11:01] amshuman-kr commented on #196
Thanks for the review @shreyas-s-rao! AFAIK, the important bit is to make sure the spec reconciliation happens only when the annotation exists. If we remove the annotation at the beginning or end of reconciliation doesn't much affect the contract.

We can still do the change to move the removal of the annotation earlier in the reconciliation, but I would suggests let's pick this after multi-node.

[2021-07-16 11:06] shreyas-s-rao commented on #196
Sounds good @amshuman-kr . Just saw the deviation from ideal behavior so raised it here.

[2021-07-16 11:10] shreyas-s-rao opened #204 "[BUG] Remove operation annotation before reconciling etcd, in accordance to the gardener extension contract"
**Describe the bug:**
The etcd controller removes the operation annotation from the `Etcd` resource *after* reconciling it, which goes against the [gardener extension contract](https://github.com/gardener/gardener/blob/master/docs/extensions/reconcile-trigger.md).

**Expected behavior:**
The etcd controller should remove the operation annotation from the `Etcd` resource before reconciling it [here

[2021-07-16 11:11] shreyas-s-rao commented on #196
I've raised an issue for it here -> https://github.com/gardener/etcd-druid/issues/204

[2021-07-19 08:03] #196 closed

[2021-07-19 08:23] #204 closed

[2021-07-20 12:19] timuthy opened #206 "☂️ [Feature] Add EtcdMember resource"
**Feature (What you would like to be added):**
A new resource `EtcdMemeber` should be added to the `druid.gardener.cloud/v1alpha1` API group.

Example:
[code]

Every etcd member in a cluster should have a corresponding `EtcdMember` resource which contains the shown status information. The `EtcdMember` resource ought to be created and maintained by the backup-restore side car. Etcd-Druid may set `s

[2021-07-20 12:27] timuthy commented on #179
We experienced some major issues with SSA in our controllers:
- `x-kubernetes-list-map-keys` does not work properly with any version `< 1.21` which makes it impossible to use SSA for arrays, e.g. `status.conditions`.
- Further issues are mentioned in [gardener/gardener#4122](https://github.com/gardener/gardener/issues/4122)

Therefore, we close this issue and will work with alternatives (like http

[2021-07-20 12:27] #179 closed

[2021-07-20 14:02] shreyas-s-rao commented on #206
Thanks @timuthy for summarizing the issue.

[2021-07-20 15:04] timuthy commented on #206
/status in-progress

[2021-07-21 13:59] timuthy commented on #206
@amshuman-kr, @shreyas-s-rao and I iterated again over the approach and agreed that we find the `EtcdMember` design confusing because the resource itself only exists of a `status` and is not meant to be reconciled by any controller.
Instead, the backup-restore side car can contribute to the corresponding `pod.status.conditions` with a custom condition `type`. Extending pod conditions is a supporte

[2021-07-26 07:44] amshuman-kr commented on #206
#207 describes an alternative of using `leases` instead of a new `EtcdMember` resource.

[2021-08-03 06:35] shreyas-s-rao opened #213 "[Feature] Make Etcd CRD's `spec.backup.store` section immutable"
**Feature (What you would like to be added):**
Make Etcd CRD's `spec.backup.store` section immutable.

**Motivation (Why is this needed?):**
Make Etcd CRD's `spec.backup.store` section immutable so that the storage container location isn't allowed to change mid-usage of an etcd, due to potential mismatch of snapshotting and restoration locations, allowing restorations to happen from a different et

[2021-08-03 08:51] timuthy opened #215 "[Feature] Improve Lease informer"
**Feature (What you would like to be added):**
Use an optimized informer for `Lease` resources, concretely only for objects which contain a `gardener.cloud/owned-by` label.

**Motivation (Why is this needed?):**
#214 fetches `Lease` objects for performing health checks on etcd members. It uses the standard Controller-Runtime client which is backed by a cache, so that all `Lease` objects will be co

[2021-08-05 15:46] stoyanr opened #217 "[Feature] Add validation for etcd resources"
**Feature (What you would like to be added):**

Please add validation code for [etcd resources](https://github.com/gardener/etcd-druid/blob/master/api/v1alpha1/etcd_types.go), similarly to the validation code that already exists for [other Gardener extension resources](https://github.com/gardener/gardener/tree/master/pkg/apis/extensions/validation), even though this is technically still dead code.

[2021-08-05 15:53] stoyanr commented on #217
/cc @amshuman-kr @plkokanov

[2021-08-06 05:05] amshuman-kr commented on #217
Thanks for creating the issue @stoyanr! @shreyas-s-rao created another issue #213 for the same purpose. But the approach is slightly different that it is suggesting to make the backup configuration fields immutable which will have much of the same effect as the validation proposed here. Should we keep and address both issues? WDYT?

[2021-08-06 06:50] stoyanr commented on #217
Sorry @amshuman-kr I didn't see that issue yesterday. I think both approaches are valid and should be considered. Validation of `etcd` resources is needed for both of them, so the 2 issues are somewhat duplicates. Feel free to close one of them if you prefer.

[2021-08-09 11:18] amshuman-kr opened #218 "[Feature] Configure resources and `emptyDir` volume for backup compaction cronjob pod template"
**Feature (What you would like to be added):**
Configure resources (informed by the performance test runs) and `emptyDir` volume for backup compaction cronjob pod template.

**Motivation (Why is this needed?):**

Make sure the backup compaction pod has the right resources configured to make sure that is succeeds.

**Approach/Hint to the implement solution (optional):**

[2021-08-09 11:24] amshuman-kr opened #219 "[Feature] Disable cache for lease"
**Feature (What you would like to be added):**

#214 introduces listing of `leases` which would be automatically cached by the controller-runtime. It might be good to disable caching for `leases` until #215 has been addressed.

**Motivation (Why is this needed?):**

While `leases` are small objects and may not cause too much increase in memory usage but they get updated very frequently and hence m

[2021-08-10 08:39] #219 closed

[2021-08-11 13:01] #218 closed

[2021-08-20 10:52] shreyas-s-rao opened #221 "[Feature] Enhance gardener grafana dashboards for multi-node"
**Feature (What you would like to be added):**
Enhance gardener grafana dashboards for the new changes introduced by the multi-node stories.

**Motivation (Why is this needed?):**

**Approach/Hint to the implement solution (optional):**
Members-overview section, individual graph lines per member on etcd dashboard.
Most etcdbr graphs remain same, but need to pick metrics from the leader sidecar.

[2021-09-09 07:52] vanjiii commented on #217
/assign

[2021-09-09 07:52] vanjiii commented on #213
/assign

[2021-09-13 17:02] abdasgupta opened #231 "[Feature] Replace full snapshots at regular interval with compacted snapshots"
**Feature (What you would like to be added):**
We recently added compaction subcommand  in ETCD Backup Restore [here](https://github.com/gardener/etcd-backup-restore/pull/301) . This subcommand compacts, defragments and take full snapshot of ETCD database. We can run this subcommand parallel to ETCD BR at regular interval instead of full snapshots. But first full snapshot and a full snapshot every

[2021-09-14 07:28] abdasgupta opened #232 "[Feature] Defragment during restoration for compaction with ETCD BR"
**Feature (What you would like to be added):**
There is support for compaction sub command in ETCD BR, see [here](https://github.com/gardener/etcd-backup-restore/pull/301). Compaction sub command actually compact ETCD delta snapshots and turn the snapshots into a full snapshot. To compact the delta snapshots, first a temporary ETCD instance is restored from a full snapshot and subsequent delta sna

[2021-10-04 13:56] #217 closed

[2021-10-04 13:56] #213 closed

[2021-10-05 14:07] vanjiii opened #238 "[Flaky Test] Possible flaky test in the Controllers suite"
**How to categorize this issue?**

/area testing
/kind flake
/kind bug
/priority 3

**Describe the bug:**
Possible flaky test in the `gardener/etcd-druid/controllers`

**Which test(s)/suite(s) are flaking:**
Controllers Suite (`github.com/gardener/etcd-druid/controllers`).

**CI link:**
https://concourse.ci.gardener.cloud/teams/gardener/pipelines/etcd-druid-master/jobs/master-pull-request-job/buil

[2021-10-18 10:04] ishan16696 opened #242 "[Feature] To discuss the impact of PR #383(Add owner checks and taking of final snapshots) on Multi-Node Etcd"
**Feature (What you would like to be added):**
1. Right now [backup-leader have the responsibility](https://github.com/gardener/etcd-backup-restore/pull/353) to take snapshots(full and delta) and to trigger the defragmentation. Do we also want backup-leader to have a responsibility kill/disconnect the etcd cluster members?
2. What changes do we have to make in a [work-flow of backup-leader](https:

[2021-10-20 15:44] timuthy opened #243 "[BUG] API module breaks components"
**TL;DR:**

The introduced `/api` sub-module makes vendoring for depending parties unnecessarily complex and there is no easy way to improve this situation. Therefore, I propose to remove the sub-module again and instead work with one and simple module.

**Describe the bug:**
https://github.com/gardener/etcd-druid/pull/169 added a nested sub-module `api` to `etcd-druid` in order to make dependency

[2021-10-22 08:15] #243 closed, assigned to nobody

[2021-11-02 16:27] timuthy commented on #158
/assign

[2021-11-03 11:12] timuthy opened #251 "[Feature] Introduce BackupReady condition"
**Feature (What you would like to be added):**
The multi-node etcd proposal includes the introduction of a `BackupReady` condition [ref](https://github.com/gardener/etcd-druid/blob/master/docs/proposals/multi-node/README.md#cutting-off-client-requests).

**Motivation (Why is this needed?):**
The `BackupReady` condition ~will influence the decision if client traffic to the etcd cluster is cut-off.~

[2021-11-03 11:20] timuthy opened #252 "[Feature] Cut-off client traffic when backups are not healthy"
**Feature (What you would like to be added):**
Concerning the multi-node etcd proposal ([ref](https://github.com/gardener/etcd-druid/blob/master/docs/proposals/multi-node/README.md#cutting-off-client-requests)) client traffic should be cut-off as soon as a failure in the backup procedure is detected.

**Motivation (Why is this needed?):**

**Approach/Hint to the implement solution (optional):**
Co

[2021-11-03 13:08] vlerenc commented on #252
@timuthy Why? Please don't. We have had already an outage when we lost blob store access and needlessly caused cluster outages. Back then we agreed that we should not do that (though it wasn't changed, yet). We should keep running, raise an alert, possibly add another shoot state condition (for backup), but the one thing we should absolutely not do is to shut down the cluster. It's our main job/re

[2021-11-03 13:08] vlerenc commented on #251
See also https://github.com/gardener/etcd-druid/issues/252#issuecomment-959029881:

@timuthy Why? Please don't. We have had already an outage when we lost blob store access and needlessly caused cluster outages. Back then we agreed that we should not do that (though it wasn't changed, yet). We should keep running, raise an alert, possibly add another shoot state condition (for backup), but the one

[2021-11-03 14:02] ishan16696 commented on #252
There is also a open issue which was basically opened [Not to block the client traffic and to decouple the readiness probe of etcd with snapshotter](https://github.com/gardener/etcd-druid/issues/147) and it also suggested to enhance the [multi-node etcd proposal](https://github.com/gardener/etcd-druid/blob/master/docs/proposals/multi-node/README.md) to address this new requirement.

[2021-11-03 15:01] timuthy commented on #252
@vlerenc as discussed, this issue was solely opened with the information extracted from the multi-node etcd proposal document and under the assumption that not taking backups while continue processing data in etcd becomes a real issue.

Let's close this for now and instead continue with #147.
/close

[2021-11-03 15:13] #252 closed

[2021-11-03 19:21] ishan16696 commented on #147
Just wanted to mention one point: In [multi-node etcd](https://github.com/gardener/etcd-druid/tree/master/docs/proposals/multi-node) we have a plan to use [Ephemeral volume](https://github.com/gardener/etcd-druid/tree/master/docs/proposals/multi-node#ephemeral), if we choose to go with Ephemeral volume then we might lose the data in worst case scenario as data wasn’t backed up.

[2021-11-04 09:29] ialidzhikov opened #253 "[hotfix-v0.5] etcd container start is too noisy because of initialization status checks without any delay"
**Describe the bug:**
While looking into etcd logs (to find out what is the reason for etcd restart) we noticed that etcd container start is too noisy/verbose with regards to logging.
etcd-druid@v0.5.2 is using `etcd-custom-image@v3.4.13-bootstrap`. In this version of etcd-custom-image, in the bootstrap script there is no sleep between the status checks. See https://github.com/gardener/etcd-custom

[2021-11-05 13:38] timuthy opened #255 "[BUG] Cluster size calculation in bootstrap case is buggy"
**Describe the bug:**
The `etcd.status.cluster.clusterSize` remains empty if the `etcd` creation failed or is interrupted after the `StatefulSet` was created. As a result, the `Ready` condition cannot be calculated:

[code]

**Expected behavior:**
`etcd.status.cluster.clusterSize` should be set.

**Environment (please complete the following information):**
 - Etcd-druid version/commit ID :  222a1c

[2021-11-05 13:38] timuthy commented on #255
/assign

[2021-11-05 13:48] timuthy commented on #253
@shreyas-s-rao can you take over?

[2021-11-05 13:59] timuthy commented on #147
Wouldn't it make sense to consider the ephemeral volume use-case as an optimized option for the future in order to keep things simple for now? The multi-node project involves more urgent points and requirements like these will only delay a feature roll-out.
WDYT? (/cc @vlerenc)

[2021-11-05 16:17] ishan16696 commented on #147
agreed

[2021-11-06 16:26] vlerenc commented on #147
Yes, I would also vote to focus on multi-node/clustered ETCD in the form that can be achieved "the best" (low complexity, low coupling). Ephemeral volumes, as @dguendisch pointed out, require having a solution first and gain trust next, before going there last. Already including that in the challenging task we have at hand, letting it pull in the backup question, raising thereby complexity/couplin

[2021-11-08 13:57] timuthy commented on #242
In a test with @ishan16696, @abdasgupta, @aaronfern and @stoyanr we simulated the impact of doing owner checks on every member. This will be necessary to cut off active client connections to the member by killing the etcd process once.

In a multi-node setup killing the etcd process (process is started again afterwards) will have the following impact:
- Leader is killed: A new leader is elected, t

[2021-11-08 16:49] ishan16696 commented on #242
Yeah, but I think upper bound in a loss of data between T5 and T6 will be around **~5mins** and I think it’s totally fine as we currently have [deltaSnapshotPeriod](https://github.com/gardener/gardener/blob/master/pkg/operation/botanist/component/etcd/etcd.go#L358) is scheduled for every 5mins and in worst case here we can also lose 5mins of data.

[2021-11-08 16:51] timuthy commented on #242
Thanks for bringing this up. IIUC, the Snapshotter is stopped as long as the owner check is failing, i.e. there will be no snapshots. Can you double check this?

[2021-11-08 17:06] ishan16696 commented on #242
yes, I have double checked ... [this block of code](https://github.com/gardener/etcd-backup-restore/blob/master/pkg/server/backuprestoreserver.go#L217-L246) will not let the snapshotter loop start if owner check fails.

The only thing we need to discuss is "How to cut-off the client traffic in such a way that etcd peers communication shouldn’t get affected so that there will be no Quorum loss".

[2021-11-08 17:25] ishan16696 commented on #242
And AFAIK configuring `ReadinessProbe`  in a master-slave architecture in Kubernetes doesn't seems to be good idea.

[2021-11-09 11:10] timuthy commented on #242
So your proposal is to cut-off traffic as soon as one member has a failing owner check and thus there will be no changes any more?

If you want to drop the `ReadinessProbe` how are we supposed to place a `service` in front of the etcd cluster?

[2021-11-09 18:51] ishan16696 commented on #242
yes, I think it would be suffice. Let take this scenario under some assumption.
**Assumption** :
1.  each etcd-member is also running a `OwnerCheckwatchdog`  and can able to kill their corresponding etcd process if they detect owner check fails.
2.  etcd peers communication is possible even after when any `etcd cluster member` cut-off the client traffic.
3. snapshots can be uploaded even after whe

[2021-11-09 20:16] ishan16696 commented on #242
There is also another way to do it. we can use [MoveLeader API call](https://github.com/etcd-io/etcd/blob/6e800b9b0161ef874784fc6c679325acd67e2452/client/v3/maintenance.go#L67) to transfer the leadership to that etcd member which detects that Owner check has failed. Advantage of this method is that we don't have to worry about any scenarios like above.
So it will be work like this:

[code]

[2021-11-10 07:22] ishan16696 commented on #242
I tried to capture the above proposal of using [MoveLeader API call](https://github.com/etcd-io/etcd/blob/6e800b9b0161ef874784fc6c679325acd67e2452/client/v3/maintenance.go#L67) described here https://github.com/gardener/etcd-druid/issues/242#issuecomment-964501990 in a picture for better understanding:

<img width="1318" alt="Screenshot 2021-11-10 at 12 28 11 PM" src="https://user-images.githubuse

[2021-11-10 09:43] timuthy commented on #242
Thanks for the proposal @ishan16696.

Let me address two doubts:

1. The entire client connection is cut-off as soon as one member has a failing owner check, i.e. we cannot handle temporary network issues of a single zone. I'm not sure if that's what we want.
2. If 1. was negligible, can we really cut-off the client by solely changing the pod selector? What about **existing connections** that migh

[2021-11-10 10:41] ishan16696 commented on #242
IMO yes it is possible .... the thing is when we change the pod selector in etcd-service we will able to cut-off the ingress client traffic (refer [here](https://github.com/gardener/etcd-druid/tree/master/docs/proposals/multi-node#manipulating-client-service-podselector)) ... I also had already tried to simulate this behaviour (although I used k8s LoadBalancer service to cut-off the client request

[2021-11-10 13:51] timuthy commented on #242
⬆️ What about this point? Doing multi-node etcd is one of the reasons to survive problems in one AZ.

[2021-11-10 14:33] ishan16696 commented on #242
I think similar question was also raised by @abdasgupta .... I forgot what was the counter argument, @abdasgupta  do you remember ?

[2021-11-12 08:54] abdasgupta commented on #201
Is it done? Should we close this?

[2021-11-15 11:00] ishan16696 commented on #242
AFAIK Owner checks fails is not a very frequent scenario it will happens rarely, so it is not like we are completely lost this advantage of having a `multi-node etcd` .... it's more like we lost this advantage in some scenarios like when OwnerCheck fails.

cc @stoyanr

[2021-11-16 09:59] abdasgupta opened #259 "[Feature] Divide the Druid controllers into Reconciler and Actuator"
**Feature (What you would like to be added):**
To improve the readability of the druid controllers, we need to divide each controllers in two parts - reconciler and Actuator.

+ The "reconciler" is responsible for reading the object that is being reconciled, managing finalizers, annotations, and status updates, and making the distinction between reconciling a creation / update (what we call "recon

[2021-11-16 09:59] abdasgupta commented on #259
cc @stoyanr

[2021-11-16 10:11] shreyas-s-rao commented on #253
Hi @ialidzhikov. This issue of high log volume is fixed in the image `etcd-custom-image@v3.4.13-bootstrap-1`. This is included in etcd-druid v0.6.0 and above, but since we skipped etcd-druid@v0.6.0 on g/g, this hasn't yet reached the landscapes. There is a tentative druid release this week, in which this fix will be included and shipped to the gardener landscapes.

[2021-11-16 14:25] ialidzhikov commented on #253
Thanks for the reply @shreyas-s-rao . If there is already an image with the fix `etcd-custom-image@v3.4.13-bootstrap-1` then I would rather suggest to proceed with a patch release for etcd-druid (v0.5.3) that updates etcd-custom-image from v3.4.13-bootstrap to v3.4.13-bootstrap-1. I am not even sure why it was not done so far. We don't have to wait for a new feature release of etcd-druid to adopt

[2021-11-16 14:28] ialidzhikov commented on #253
Oh, okay. I now recall such update of the etcd image will lead to rollout of the etcd Pods and will lead to downtimes for the kube-apiservers. Okay, let's wait for etcd-druid@v0.6.0 as you suggested...

[2021-11-16 17:21] shreyas-s-rao commented on #253
Yes, we want to minimize the number of etcd restarts until we have multi-node etcd rolled out to the landscapes. Anyway, the fixed `etcd-custom-image@v3.4.13-bootstrap-1` should be available soon on our landscapes anyway, with the etcd-druid@v0.7.0 release

[2021-11-17 08:08] stoyanr commented on #242
We have the following 2 cases:

1. Owner check fails because the owner DNS record actually changed (or was deleted), which should only happen during the "bad case" scenario of a control plane migration.
2. Owner check fails because DNS resolution failed - either something is wrong with DNS itself, or there is some other network issue preventing DNS resolution.

Note that from the perspective of th

[2021-11-17 09:22] vlerenc commented on #242
I wouldn't think so. The leaders can change/aren't stable. Why aren't we letting the druid doing it?

Is that some "shortcut", so that the final snapshot is taken? But that can be instrumented by the druid also or remain implicit, but instead of performing an owner check, be based on checking whether traffic was cut off, i.e. druid cuts of traffic, backup sidecar notices that via the changed servi

[2021-11-17 12:07] ishan16696 commented on #242
**To still have the advantage of having `multi-node etcd` of surviving the failure in one zone or any other DNS malfunctioning:**
As discussed in a meeting, we can use the **Quorum** in such way that when there will be a consensus of `Owner check has failed` then only we completely cut-off the client traffic.

Let take this scenario under some assumption.
**Assumption** :
1.  each etcd-member is a

[2021-11-17 13:08] timuthy commented on #242
To complement the previous comment about how a consensus for owner check results can be implemented:

1. Each member maintains the result of the owner check in the etcd cluster, e.g.:
[code]
(we can also work with etcd `leases` for further simplification)

2. Having `(n/2) + 1` members with an outdated `last-successful-check` timestamp means that all members consent to a failing owner check.

3. W

[2021-11-17 13:31] ishan16696 commented on #242
what about using memberID instead of member-name.

I have one concern regarding the `checking of all members reports disconnect` that Let suppose one etcd follower got disconnected from cluster due to network partition then we end-up keep waiting for final full snapshot.
I prefer here also we should check the Quorum for `disconnect: true`. WDYT?

I'm under impression that we will not gonna use `/h

[2021-11-17 13:43] timuthy commented on #242
No clear preference, this was only an example. Please keep in mind that garbage collection will be more complex with memberID.

I'd rather use a combination of quorum && timeouts because a sole quorum can result in taking the final snapshot prematurely.

At the moment I don't see any other proposed solution, so I used what is already there which is `/healthz`. If we come to an agreement to not use

[2021-11-17 15:02] vlerenc commented on #242
@timuthy That is what I would rather leave to the quorum/majority than to all as discussed in the meeting and also @ishan16696 pointed out.

@timuthy Maybe you meant it, but what @ishan16696 and I wondered is the "all", but above you write "quorum". Quorum sounds good, timeouts may help even more as (as discussed in the call, but now in combination with quorum to safe-guard it even more).

The gen

[2021-11-17 15:44] vlerenc commented on #242
@stoyanr replied out-of-band that the delays add up to the time the kubelet/KCM will usually take to remove the endpoint:

And...

Maybe that can be further safe-guarded, but considering the delays above, it’s probably not worth it. E.g., the moment we will let the readiness probe fail, we know the Kubelet will report it whenever it sees it next time (there is still a tiny uncertainty if it invoke

[2021-11-17 18:14] vlerenc commented on #242
A few cases:

[code]

There are many more (corner cases), but when I think of some (similar to the T5/T6 case that should no longer be possible?), e.g. the leader loses leadership while in full backup, a follower that gets elected to become the next leader should check the owner loss quorum before opening up for traffic (pass or fail the readiness probe from then on depending on the result) and th

[2021-11-18 07:47] timuthy commented on #242
The constructed case was less about that 1/3 will remain seeing a ownership but rather **when** it will start seeing a lost ownership because of the deviated owner check intervals and involved TTLs. @stoyanr then suggested to have a **second safeguard** which the `/meta/owner-check-control/{Member_Name}/disconnect` keys are used for in my _example_.

Do I get it correctly, that with your cases abo

[2021-11-18 08:37] timuthy commented on #253
With that being said, can we close this issue @ialidzhikov?

[2021-11-18 09:50] vlerenc commented on #242
Yes, I understood, but if two pods see already lost ownership, the third one, checking even later, should see it as well. The chance that it doesn't is very small, is it not? Maybe a TTL issue because the record was fetched right before it was switched, something like that. Anyway, I didn't say impossible. And, with quorum, it doesn't matter anymore.

No, that shouldn't imply it. I don't know how

[2021-11-23 10:07] #255 closed

[2021-12-01 19:31] ishan16696 opened #265 "[Feature] Fine Tune the multi-node Etcd configurations."
**Feature (What you would like to be added):**
The default settings in `multi-node etcd` works well  on a local network where the network latency is low. However, when using `multi-node etcd` deployed in multi zone where the average network latency can be high the `heartbeat interval` and `election timeout` settings may need tuning.

**Motivation (Why is this needed?):**
To avoid unnecessary leade

[2021-12-03 11:17] ialidzhikov commented on #253
/close

[2021-12-03 11:17] #253 closed

[2021-12-07 13:02] #165 closed

[2021-12-21 17:07] abdasgupta opened #278 "Implement "component" concept for all the K8s resources"
**Feature (What you would like to be added):**
Implement  "component" concept for all the K8s resources to replace the [chart](https://github.com/gardener/etcd-druid/tree/v0.7.3/charts/etcd/templates) that we use in Druid and instead build the K8s resources within the code

**Motivation (Why is this needed?):**
To achieve a better test-ability and more control how the client is used to reconcile t

[2021-12-21 17:08] abdasgupta commented on #278
cc @ashwani2k @aaronfern @ishan16696 @timuthy

[2021-12-22 10:28] timuthy opened #279 "[BUG] Reconcile with operation annotation ends prematurely"
**Describe the bug:**
Repeatably we noticed situations in which the `etcd` resource was supposed to be reconciled, the `gardener.cloud/operation=reconcile` annotation was even removed (-> event received + reconcile started) but nothing else happened, i.e. the changed spec was not considered and the resource remained with `.metadata.generation != .status.observedGeneration`.

**Expected behavior:**

[2021-12-22 12:37] ishan16696 opened #280 "[Feature] Liveness Probe on multi-node etcd"
**Feature (What you would like to be added):**
Configure the correct livenessProbe in `multi-node etcd`.

**Motivation (Why is this needed?):**
Right now I found 2 ways to configure the livenessProbe:
1.  `/health`  endpoint
`/health` endpoint returns `false` if one of the following conditions is met ([source](https://github.com/etcd-io/etcd/blob/v3.4.14/etcdserver/api/etcdhttp/metrics.go#L106-L11

[2021-12-22 12:43] ishan16696 commented on #280
cc @abdasgupta @aaronfern @timuthy

[2021-12-22 20:57] timuthy commented on #279
Please see https://github.com/gardener/gardener/issues/5188 for the `gardener/gardener` issue.

[2021-12-23 16:10] timuthy commented on #279
The bug presumable only resides in Gardener, see https://github.com/gardener/gardener/pull/5209.
/close

[2021-12-23 16:11] #279 closed

[2022-01-21 09:59] timuthy opened #286 "[Feature] e2e tests for multi-node etcd"
**Feature (What you would like to be added):**
We should add e2e tests for multi-node etcd scenarios. These tests should be executable by our CI pipeline as well as locally on dev machines.

**Motivation (Why is this needed?):**
To ensure quality and robustness of the feature as well as avoid regressions in the future. [Multi-node etcd](https://github.com/gardener/etcd-druid/tree/master/docs/propo

[2022-01-21 11:26] timuthy commented on #158
/status on-hold
Waiting for completion of https://github.com/gardener/etcd-backup-restore/issues/322 and #193 in order to decide on the actions that need to be performed and how these must be implemented.

[2022-01-27 09:23] timuthy opened #287 "[BUG] Incorrect `spec.serviceName` in etcd StatefulSet"
**Describe the bug:**
#273 introduces a separate `peer` service that is going to be used for etcd member discovery and communication. Therefore, we also need to update the `spec.serviceName` field of the etcd StatefulSet, so that the DNS resolution works for members when the Pods are not ready yet.

See documentation https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.23/#statefulsets

[2022-01-27 09:23] timuthy commented on #287
/assign

[2022-01-28 06:58] ishan16696 opened #288 "[Feature] Readiness Probe in multi-node etcd"
**Feature (What you would like to be added):**
Currently, [readinessProbe of etcd](https://github.com/gardener/etcd-druid/blob/master/charts/etcd/templates/etcd-statefulset.yaml#L55-L60) is set to an endpoint `/healthz` of [HTTP server](https://github.com/gardener/etcd-backup-restore/blob/322d3c74fcd5ea7be9961ce5e9d7ffed48ecc34e/pkg/server/httpAPI.go#L168) running in backup sidecar.
This behaviour

[2022-01-28 13:43] timuthy commented on #288
I can confirm that as long as the reads happen with linaerizable consistency (default - https://etcd.io/docs/v3.3/learning/api_guarantees/#linearizability)

I'm not sure if this is really a problem because for when we need to recover from a quorum loss, we anyhow have to start again from scratch, i.e. create a new cluster from backup and scale out again (details tbd).

[2022-01-28 13:45] timuthy commented on #288
@ishan16696 can we move this issue to https://github.com/gardener/etcd-backup-restore as the implementation is very specific to the etcd-br component?

[2022-01-31 05:47] ishan16696 commented on #288
Hi @timuthy ,

I have opened an issue there https://github.com/gardener/etcd-backup-restore there with updated points.
PTAL !!!.
closing this as we have moved to https://github.com/gardener/etcd-backup-restore/issues/423.
/close

[2022-01-31 05:47] #288 closed

[2022-02-08 19:57] #287 closed

[2022-02-16 10:39] timuthy commented on #147
We will follow up with https://github.com/gardener/etcd-druid/issues/280 for the readiness probe.
/close

[2022-02-16 10:39] #147 closed

[2022-03-02 11:37] kris94 opened #299 "[Feature] Enhance the Etcd StatefulSet chart to support usage of the `Local` provider in a container environment."
**Feature (What you would like to be added):**
Enhance the Etcd StatefulSet chart to support usage of the `Local` provider in a container environment.
**Motivation (Why is this needed?):**
The scenario in which this is needed is described [here](https://github.com/gardener/gardener/issues/5500)
**Approach/Hint to the implement solution (optional):**
In the stateful set there must be added a volume

[2022-03-02 11:37] kris94 commented on #299
/assign

[2022-03-11 11:29] plkokanov opened #303 "[BUG] Nil pointer exceptions can happen if the charts for the etcd backups copy task are invalid"
**Describe the bug:**
During reconciliation of an `EtcdCopyBackupsTask` if there is an error when rendering the required charts, a nil pointer exception occurs. Additionally, to crashing the process, this nil pointer exception will hide the original cause for the error, which is the invalid charts.
The nil pointer can happen both on lines https://github.com/gardener/etcd-druid/blob/fefe1cf9c3e00aa

[2022-03-17 10:34] ishan16696 opened #307 "To increase the default time(used to create context with timeout) to take the full snapshot"
**Feature (What you would like to be added):**
 -  Increase the time to take the full snapshot (`--etcd-snapshot-timeout`) in backup-restore from `8mins` to `15mins`.
     Disadvantage of increasing the time is if even after increasing the time full snapshot fails then at max we can lose 15mins of data as control will be in full snapshot function and during this time no delta snapshot will be take

[2022-03-18 04:14] ishan16696 commented on #307
In this [commit](https://github.com/gardener/etcd-backup-restore/pull/455/commits/431ce2d22327988d1796810fd8493b7549d3fd5c) of this [PR#455](https://github.com/gardener/etcd-backup-restore/pull/455) we have increase the time limit for `defaultSnapshotTimeout` used for flag `--etcd-snapshot-timeout`.

[2022-03-21 06:58] #303 closed

[2022-03-21 12:52] ishan16696 commented on #307
As I mentioned above this already taken case.Hence, closing this issue.
/close

[2022-03-21 12:53] #307 closed

[2022-03-21 14:44] #299 closed

[2022-03-30 12:11] rfranzke opened #315 "[BUG] `ServiceAccount` is not reconciled"
**Describe the bug:**
The `ServiceAccount` for etcd pods is not reconciled (despite the fact that the `etcd-druid` claims to do it as it logs "Reconciling serviceaccount"). Bascially, this code only creates or reconciles the labels, nothing else: https://github.com/gardener/etcd-druid/blob/ce1007cd58b58b201dd643b7bf8f47e59cf412b0/controllers/etcd_controller.go#L817-L857

This breaks features like

[2022-04-01 14:01] ishan16696 opened #320 "[BUG] Etcd-member Leases are intermittently deleted"
**Describe the bug:**
I saw these logs in backup-restore and then I found out that `etcd-member` lease are not there for some of our clusters.

Logs from backup-restore:
[code]

**Expected behavior:**
Member lease should get created by `etcd-druid` and backup-restore should able to update the member leases.

**How To Reproduce (as minimally and precisely as possible):**

**Environment (please comp

[2022-04-05 08:41] ishan16696 opened #325 "[BUG] Defragmentation failed due to certificate for 0.0.0.0 unable to validate"
**Describe the bug:**
The [Client.Status](https://github.com/gardener/etcd-backup-restore/blob/3fa9156cc70ec205aa7a62f21d6ea33b7c6c4114/pkg/miscellaneous/miscellaneous.go#L217) API calls fails in [defragmentor](https://github.com/gardener/etcd-backup-restore/blob/3fa9156cc70ec205aa7a62f21d6ea33b7c6c4114/pkg/defragmentor/defrag.go#L74-L84) due to `authentication handshake failed: x509: cannot valid

[2022-04-05 08:59] ishan16696 commented on #325
I think we are getting the endpoints to apply the defragmentation from [MemberList](https://github.com/gardener/etcd-backup-restore/blob/3fa9156cc70ec205aa7a62f21d6ea33b7c6c4114/pkg/miscellaneous/miscellaneous.go#L196) API call which gets the endpoints of etcd from [Etcd-configuration](https://github.com/gardener/etcd-druid/blob/hotfix-v0.8/charts/etcd/templates/etcd-configmap.yaml#L44-L48) which

[2022-04-05 10:15] ishan16696 commented on #325
For Master branch this issue of `0.0.0.0` or `127.0.0.1` not present in certificate `SANs list` has been fixed by this [PR#314](https://github.com/gardener/etcd-druid/pull/314)

[2022-04-05 11:49] ishan16696 commented on #325
It is fixed by this PR https://github.com/gardener/etcd-backup-restore/pull/459 for backup-restore`v0.15.x`.
And for master branch https://github.com/gardener/etcd-druid/pull/314

[2022-04-05 11:49] #325 closed

[2022-04-11 10:41] aaronfern opened #332 "Enable member lease renewal"
**Feature (What you would like to be added):**
Member lease renewal has to be enabled when [issues/320](https://github.com/gardener/etcd-druid/issues/320) is fixed

**Motivation (Why is this needed?):**
Member lease renewal has been disabled in #331 due to a bug where member leases are intermittently deleted.
This decision is taken to reduce `etcd-backup-restore` log pollution with `lease not foun

[2022-04-29 06:48] shreyas-s-rao opened #340 "[Feature] List down all the metrics necessary for maintaining multinode"
**Feature (What you would like to be added):**
Create a collective list of all the metrics that is needed to maintain multi-node ETCD. Update the [file](https://github.com/gardener/etcd-druid/blob/master/docs/multinode-metrics.md) with the list. This is a running document that will capture all the metrics that will be exposed through prometheus for mutinode ETCD.

**Motivation (Why is this needed?

[2022-05-17 05:25] plkokanov commented on #201
Yep, this is done,

[2022-05-17 05:25] #201 closed

[2022-05-30 07:47] timuthy commented on #280
Reading this I wonder about the option keeping the current liveness probe but setting `--consistency="s"`? This mimics the implementation of the linked PR https://github.com/etcd-io/etcd/pull/13399. WDYT @ishan16696?

[2022-06-01 05:39] ishan16696 commented on #280
yes, this make sense to me .... I don’t see any major issue with this.
we can configure the livenessProbe like this making the consistency `serializable` instead of `linearizable`
[code]

[2022-06-01 06:29] aaronfern opened #349 "[Feature] Etcd cluster scale-up"
**Feature (What you would like to be added):**
Should be possible to scale up a single node etcd to a multi node etcd cluster

**Motivation (Why is this needed?):**
With multi node being available as an alpha feature, it is possible that we want to convert an existing single-node etcd to be multi-node. We should be able to support this feature and allow this scaling up of etcd from a single member

[2022-06-01 13:50] ishan16696 commented on #280
Hi @timuthy ,
Unfortunately this way of using `--consistency="s"` is not working for following scenario.
1. Start an etcd cluster with 3 members.
2. Add some dummy data.
3. Stop all the members
4. Start only one member
5. then try  `etcdctl  get foo --endpoints=http://127.0.0.1:2379 --consistency="s"`.
Unfortunately `--consistency="s"` won't help us in this case until quorum will get satisfy.

[2022-06-01 16:09] ishan16696 commented on #280
I'm not saying last pod is killed due to liveness probe ... I'm saying last pod can be killed/crash due to some reason, why you are assuming that last pod can’t be killed.

[2022-06-01 16:14] ishan16696 commented on #280
The point I'm making is, suppose all pods/member of etcd-cluster crashed/go down due to some reasons, they will not be able to come up due to this livenessProbe: `etcdctl get foo  --consistency="s"` will get fail.

[2022-06-02 06:40] abdasgupta commented on #221
Depends on #340

[2022-06-02 07:21] ishan16696 commented on #280
yeah  exactly but then we have to depend on this configuration and set them accordingly.

[2022-06-06 19:45] abdasgupta opened #354 "[Feature] Validate decision table for reconciliation as mentioned in ETCD design doc"
**Feature (What you would like to be added):**
We already enhanced reconciliation for multi node in ETCD Druid [here](https://github.com/gardener/etcd-druid/issues/158). Now we have to validate the implementation with the [decision table](https://github.com/gardener/etcd-druid/blob/master/docs/proposals/multi-node/README.md#decision-table-for-etcd-druid-based-on-the-status)

This story will track

[2022-06-07 08:02] #320 closed

[2022-06-07 08:02] #332 closed

[2022-06-08 06:40] unmarshall commented on #280
IMO using `--consistency=s` is non-deterministic as the time it takes to start the etcd process cannot be guaranteed. The correct thing to do would be to create a `/livez` or `/healthz` endpoint which is served out of backup-restore container. If this endpoint has come up and responds with a 200 OK then etcd pod should be considered as LIVE which then prevents it from getting restarted. For readin

[2022-06-08 07:05] timuthy commented on #280
Can you sketch how an implementation of `/livez` would look like to make it deterministic?

[2022-06-08 08:33] #158 closed

[2022-06-08 08:34] abdasgupta commented on #158
Scope of this issue is completed. #354 is created to track further.

[2022-06-08 08:53] abdasgupta opened #358 "[Feature] Expose the metrics fro multinode ETCD"
**Feature (What you would like to be added):**
Expose the metrics that is listed in the [running doc](https://github.com/gardener/etcd-druid/blob/master/docs/multinode-metrics.md)
**Motivation (Why is this needed?):**
We need to expose the metrics in the codebase so that prometheus can collect the metrics and convert them into meaningful representation for the support.
**Approach/Hint to the imple

[2022-06-20 08:57] ishan16696 commented on #280
Reopening this issue as `livenessProbe` can be improved to resolve this kind of scenario https://github.com/gardener/etcd-druid/issues/280#issuecomment-1143639829

[2022-06-20 09:00] timuthy commented on #280
I'd be interested to know what it planned here. Do you already have something in mind?

[2022-06-20 09:04] ishan16696 commented on #265
@shreyas-s-rao  @unmarshall  Would it make sense to move this issue to `multi-node etcd zonal` Umbrella issue ?

[2022-06-20 09:42] unmarshall commented on #265
Yes, that would make sense. We will have to additionally do latency measurements when setting up etcd across nodes (in the same zone) and also across zones. An initial test was done by Shreyas but it was decided that this be done again. Recommendations will then have to be made and that will also be captured in the GEP.

[2022-06-22 08:25] ishan16696 commented on #280
ok, then feel free to close.

[2022-06-23 03:39] ishan16696 commented on #280
Found out the [upstream issue](https://github.com/etcd-io/etcd/issues/13524) which is also described in this comment https://github.com/gardener/etcd-druid/issues/280#issuecomment-1143639829
Mentioning this for future reference whenever we want to move to `etcd v3.6`

[2022-06-23 09:18] #251 closed

[2022-06-27 11:53] timuthy opened #361 "[BUG] One member of Multi-node Etcd start its own cluster as its data-dir structure is invalid which triggers the restoration of single member."
**Describe the bug:**
When creating a new `etcd` multi-node cluster it can happen that **multiple clusters** are created instead of one cluster with multiple members. As a result, consumers get a single `etcd-client` service which is backed by distinct clusters.

Etcd-Druid and all involved components use a static bootstrapping procedure as described [here](https://etcd.io/docs/v3.4/op-guide/clust

[2022-06-28 07:35] ishan16696 commented on #361
TBH, I'm pretty confused with the given information/evidences. These are my initial thoughts:
Isn’t Leader Election have to racy as it works on **greedy algorithm** i.e one cluster member triggers an election, voted for himself and wants other members in cluster to vote for him as well ?

Now, the question comes up whether other members of cluster are reachable/available or not.
If they are not re

[2022-06-28 07:47] ishan16696 commented on #361
Just to mention @unmarshall , @aaronfern and I saw one issue in which etcd cluster members were unable to reach out to each other (may be due some DNS issue) for more than hour.
My point is even though `etcd cluster members were unable to reach out to each other >1 hour` but no etcd member in a cluster had started its own cluster.

[2022-06-28 09:34] abdasgupta opened #362 "[Feature] Handle quorum loss scenario by Druid in ETCD multinode"
**Feature (What you would like to be added):**
We need to reconcile ETCD cluster in case of quorum loss

**Motivation (Why is this needed?):**
When n/2+1 number of ETCD members are down in a cluster of size n, the cluster becomes unavailable. This situation is called Quorum Loss. To recover from quorum loss scenario, ETCD Druid needs to delete ETCD statefulset and redeploy again.
**Approach/Hint t

[2022-06-29 03:28] ishan16696 commented on #361
@abdasgupta @aaronfern  Are we using `--initial-cluster-token` anywhere in config map which provides configuration to etcd ?

[2022-06-29 05:01] aaronfern commented on #361
@ishan16696 yes, we do use `--initial-cluster-token`
It's added to the configmap by etcd-druid [here](https://github.com/gardener/etcd-druid/blob/4da816d7247971c5f47cb529b7df2894cb21e1bd/pkg/component/etcd/configmap/configmap.go#L162)

[2022-06-29 06:42] ishan16696 commented on #361
ok, but seems like it is hardcoded. I will update to use some unique identifier.

[2022-06-30 06:51] timuthy commented on #361
Can you explain how that setting helps to mitigate the issue we saw? The documentation says:

And

In Gardener's setup each cluster has a unique set of members which should prevent cross cluster communication from the start.

Makes sense, thanks for explaining 👍
Then we have to dig further and search for another root cause? Changing `--initial-cluster-state` doesn't sound promising to me at the mo

[2022-06-30 11:22] ishan16696 commented on #361
Thanks @timuthy for providing the logs of `e2e test of HA shoots` which is backed by multi-node `etcd-backup-restore` cluster.
I take a look at backup-restore logs of each cluster member.
In **brief**, it is happening due to PVC of 1 etcd cluster member got corrupted.

**Details:**
Initially all 3 cluster members have started normally.

- backup-restore-1 becomes the backup-Leader:
[code]
- backup

[2022-07-05 15:53] abdasgupta opened #368 "[Feature]Restore a ETCD member when data directory / PVC is corrupted"
**Feature (What you would like to be added):**
ETCD member within a cluster may go down due to data directory / PVC corruption. A member can not be restored from the snapshot in that case. The member needs to be removed and then added as learner to the cluster.
**Motivation (Why is this needed?):**
If a single node within a cluster goes down, it needs to be brought back. But it can't be restore fr

[2022-07-08 10:30] #349 closed

[2022-07-11 05:11] abdasgupta opened #371 "[Feature] Design doc on restoration of single member of a ETCD cluster when PVC is corrupted"
**Feature (What you would like to be added):**
We need to have a design discussion on restoration of single member with corrupted PVC in a multinode ETCD cluster
**Motivation (Why is this needed?):**

**Approach/Hint to the implement solution (optional):**

[2022-07-14 07:59] shreyas-s-rao opened #374 "[BUG] TLS for etcd and backup-restore servers don't work individually"
**Describe the bug:**
TLS for etcd and backup-restore servers don't work individually. They are required to be enabled together, else the pod(s) fail to come up due to wrongly configured TLS certs and HTTP endpoints.

**Expected behavior:**
Enabling TLS individually for either etcd or backup-restore server should allow the pod(s) to come up successfully.

**How To Reproduce (as minimally and preci

[2022-07-19 08:58] #361 closed

[2022-07-28 12:42] timuthy opened #386 "Rework Integration Tests"
**What you would like to be changed:**
After having most of the etcd assets transitioned to components (see https://github.com/gardener/etcd-druid/issues/278) we should revisit existing integration tests ([envtests](https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/envtest) in `/controllers`) and reduce the size to an appropriate scope.

**Motivation (Why is this needed?):**
Today, `etcd-druid

[2022-07-29 06:12] ishan16696 commented on #358
Mentioning the metric which I found while doing [feature of single member restoration in multi-node etcd](https://github.com/gardener/etcd-backup-restore/pull/509):
 Add metrics:
- Whether the single node restoration in multi-node etcd was successful or not.
-  How much time it took while restoration.
like we did in single node restoration (refer [here](https://github.com/gardener/etcd-backup-rest

[2022-08-02 06:52] #371 closed

[2022-08-04 05:48] ashwani2k commented on #362
Is implemented via - #365, #382

[2022-08-04 08:57] #368 closed

[2022-08-10 04:56] ishan16696 commented on #242
As we have discussed and decided that we would like to turn off the [Owner check](https://github.com/gardener/etcd-backup-restore/pull/383) in case the multi-node etcd as owner checks introduced complexities which are difficult to manage in a multi-node etcd and with HA control planes the "bad case" control plane migration would be triggered very rarely.
I'm closing this issue in favour of this PR

[2022-08-10 04:56] #242 closed

[2022-08-10 16:45] shreyas-s-rao opened #404 "[BUG] Statefulset updation fails as druid attempts to update forbidden fields"
**Describe the bug:**
With the new component model for statefulset, and the removal of claim/recreation logic for statefulsets, druid uses certain default values in the statefulset spec. This works well for newly created etcds, but older ones that were created with the old default values, fail to be updated by druid since updates to certain fields in the statefulset spec is forbidden, with the err

[2022-08-10 16:45] shreyas-s-rao commented on #404
/cc @abdasgupta @timuthy

[2022-08-15 06:58] timuthy commented on #404
/assign

[2022-08-15 15:04] timuthy commented on #404
FMPOV this issue has two sides:

1. The change is initiated by Etcd-Druid, e.g. `sts.spec.serviceName`. This means, that we require the resulting statefulset to change the field value when a certain feature is requested, e.g. the cluster is scaled-up. We can detect such a change and should recreate the statefulset as done [here](https://github.com/gardener/etcd-druid/blob/49c69009afb8c7c094f0daff7

[2022-08-16 03:37] ishan16696 commented on #361
The support for `single member restoration in multi-node etcd` has been added and released with [backup-restore v0.19.0](https://github.com/gardener/etcd-backup-restore/releases/tag/v0.19.0)
This issue now has been permanently closed by adding the feature of single member restoration in multi-node etcd, please refer this PR: https://github.com/gardener/etcd-backup-restore/pull/509

[2022-08-17 19:46] timuthy opened #407 "[BUG] Hostpath not configureable via backup secret"
**Describe the bug:**
Earlier it was possible to configure the `hostPath` used for the local backup provider via the referenced secret in `etcd.spec.backup.store.secretRef`, e.g.:

[code]

Unfortunately, this is not possible anymore since the switch to the component concept with https://github.com/gardener/etcd-druid/pull/365, it always takes `/etc/gardener/local-backupbuckets` as the standard pat

[2022-08-18 09:23] timuthy opened #409 "[Feature] Introduce validating webhook"
**Feature (What you would like to be added):**
Like other components in the `gardener` org, `Etcd-Druid` should offer a validating webhook for the `v1aplha1.druid.gardener.cloud` API.

- [ ] Add boilerplate for validating webhook (code + [Validatingwebhookconfiguration](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.24/#validatingwebhookconfiguration-v1-admissionregistration-k8s-

[2022-08-18 09:23] timuthy commented on #404
I opened https://github.com/gardener/etcd-druid/issues/409 for the `2.` case.

[2022-08-18 11:29] aaronfern commented on #354
| Sr No | Event | Status | Comments |
| -- | -- | -- | -- |
| 1 | Pink of health | Complete |  |
| 2 | Member status is out of sync with their leases | Complete |  |
| 3 | All members are Ready but AllMembersReady condition is stale | Complete |  |
| 4 | Not all members are Ready but AllMembersReady condition is stale | Complete |  |
| 5 | Majority members are Ready but Ready condition is stale |

[2022-08-18 13:50] #194 closed

[2022-08-19 06:34] #404 closed

[2022-08-22 08:52] abdasgupta commented on #354
Should we close the issue as we are done with validating the decision table?

[2022-08-22 17:49] timuthy opened #413 "[Enhancement] Exceptions for `BackupReady` condition"
**Feature (What you would like to be added):**
Today, `Etcd-Druid` maintains the `BackupReady` condition even for `etcd` resources that don't define a backup. Even though the `status` of this conditions remains `Unknown`, we should rather not maintain the condition at all to not cause any confusion.

[code]

Furthermore, we should correctly maintain the `BackupReady` condition when `etcd.spec.repl

[2022-08-22 17:55] timuthy commented on #413
@aaronfern can you take over whenever you have capacity because you were involved in the initial implementation?

[2022-08-23 04:53] aaronfern commented on #413
/assign

[2022-08-26 08:37] unmarshall opened #416 "[Enhancement] Capture LKG status of applied configuration as part of etcd status to help with etcd scale up"
**Feature (What you would like to be added):**
Today etcd-druid only reacts to changes done to the etcd CRD. Currently it does not know what was the last successfully applied change(s) in the etcd spec. As part of this enhancement we start to capture successfully applied configuration as part of the status so that the controllers are enabled to compare the last-known-good (LKG) state vs the curren

[2022-08-26 08:37] unmarshall commented on #416
/assign

[2022-08-29 11:02] aaronfern opened #419 "[BUG] Cluster scale up - one pod not joining the cluster"
**Describe the bug:**
When an etcd cluster is scaled up, there is a rare case where the third pod cannot join the cluster. Hence, we have only 2 members working is expected ways. What this results in is a cluster is size 2 with a learner that cannot join.
Although this means that the quorum is maintained, it also means that we lose a bit of resilience as one we are now just pod away from quorum lo

[2022-08-29 19:50] abdasgupta commented on #362
The scope of the issue is to restore a multinode ETCD cluster after the quorum is lost. The steps are like following:

1. There is already provision for Health check of cluster in ETCD Druid code base. The health check is based on Member Lease renewal time. It also deduct the quorum loss case. This health check is used by Druid
2. Druid custodion controller monitors the cluster health at a regular

[2022-08-30 06:33] #407 closed

[2022-08-30 06:46] abdasgupta commented on #362
As mitigation plan until the quorum loss scenario is available, a DoD has to step in if quorum loss happens. S/he has to change the replicas in ETCD CR to 1. Scaledown the ETCD statefulset to zero, delete all of the PVCs and then scale up the Sts to 1.

[2022-08-30 06:58] timuthy opened #420 "[BUG] Peer TLS not enabled after rolling update"
**Describe the bug:**
Configuring `etcd.spec.etcd.peerUrlTLS` to activate TLS for peer communication **for an existing** etcd cluster will trigger a rolling update, i.e. all pods receive the required configuration and certificates. However, after the rolling update is finished, the peer communication does not properly work via TLS.

If TLS is enabled later, the `peer` address(es) in the cluster ha

[2022-08-30 06:59] timuthy commented on #420
/assign @unmarshall
/status in-progress
/priority 2

[2022-08-30 11:51] timuthy commented on #362
Do we really need to delete the volumes at all times? Quorum loss can happen for different reasons, e.g. `2/3` etcd pods were evicted due to resource shortage. Here it won't help and is even unnecessary to delete the volumes.
Also, there are etcds without backup: Can we recover manually from quorum loss w/o deleting the volumes at all? (see [example](https://docs.openshift.com/container-platform/3

[2022-09-02 09:43] #358 closed

[2022-09-02 14:21] #340 closed

[2022-09-06 04:33] aaronfern opened #429 "[Feature] Update API versions for Cronjobs and PDBs"
**Feature (What you would like to be added):**
From kubernetes v1.25 onwards, `Cronjob`s and `PDB`s are [depricated](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-25) from the `v1beta1` API and will instead be in the `v1` API

This issue recommends updating `etcd-druid` to handle both API versions based on the detected kubernetes version

**Motivation (Why is this needed?):*

[2022-09-06 04:34] aaronfern commented on #429
/assign

[2022-09-07 13:29] timuthy commented on #206
After working in the problem space we realized that the `Lease` approach is not ideal as an `etcd-member` has different status information that should be exposed to etcd-druid in order to take appropriate action, e.g.:
- Is `peer-tls` enabled for the member -> lets Druid trigger a appropriate rollout if changed from `disabled -> enabled`  (cc @unmarshall)
- Is the disk corrupted -> lets Druid know

[2022-09-07 15:25] unmarshall commented on #206
For etcd druid to do deterministic recovery/reconciliation its important that individual etcd members publish their up-to-date information. Outside gardener if etcd-druid is not used then any other external actor can be the consumer of this information providing it holistic state of all members in the etcd cluster.

[2022-09-17 05:44] #420 closed

[2022-09-19 09:29] timuthy opened #435 "[Feature] Support annotations for `etcd` service"
**Feature (What you would like to be added):**
Etcd-Druid creates a `client` Kubernetes Service for etcd clusters. We should allow users to specify annotations in the `etcd` resource which are added to the before mentioned `service`.

**Motivation (Why is this needed?):**
Some Kubernetes features, e.g. [Topology Aware Hints](https://kubernetes.io/docs/concepts/services-networking/topology-aware-hi

[2022-09-19 09:30] timuthy commented on #435
/cc @unmarshall
As we need this for Gardener HA.

[2022-09-19 14:02] aaronfern commented on #435
/assign

[2022-09-19 20:28] abdasgupta opened #436 "[Feature] Recover ETCD multinode cluster from transient quorum loss"
**Feature (What you would like to be added):**
Transient quorum loss in a multinode ETCD cluster happens when most(>= n/2 + 1) ETCD pods can't join to the cluster due to network error, pod scheduling error, high CPU/Mem usage etc. Transient quorum loss generally lasts for short period of time. ETCD cluster remain unavailable during that time. But when the failed pods restart again properly, they s

[2022-09-19 20:29] abdasgupta commented on #436
This feature is addressed by https://github.com/gardener/etcd-backup-restore/pull/528 in ETCDBR side

[2022-09-20 08:39] timuthy commented on #436
I tested a transient quorum loss scenarios with Etcd-Druid release `v0.13.1` (latest release at the time of writing this comment)

1. Create a KinD cluster.
2. Apply Druid CRDs.
3. Run Etcd-Druid against KinD cluster.
4. Create a three member cluster (w/ or w/o backup) via `etcd` resource.
5. Wait until all `pod`s are ready.
6. Test cluster with `etcdctl` by putting and reading data.
7. Shotdown E

[2022-09-20 09:50] ishan16696 commented on #436
yes, as long as PVC of majority of etcd cluster members is intact and no data-dir corruption happen to those members then etcd cluster can recover from transient quorum loss without any intervention.

[2022-09-20 09:58] unmarshall commented on #206
/assign

[2022-09-21 05:08] ishan16696 commented on #436
Closing this issue as transient quorum loss is handled https://github.com/gardener/etcd-druid/issues/436#issuecomment-1252111465
Please feel free to re-open if any edge case is not handled.
/close

[2022-09-21 05:08] #436 closed

[2022-09-21 08:06] abdasgupta opened #437 "[Feature] Handle permanent quorum loss scenario for ETCD multinode cluster"
**Feature (What you would like to be added):**

ETCD multinode cluster should be able to recover from permanent quorum loss in a graceful way after human intervention.

**Motivation (Why is this needed?):**
Permanent quorum loss happens when most number(>=n/2+1) of ETCD member nodes are down due to disk failure completely. in such quorum loss, the cluster does not recover automatically as the ETCD

[2022-09-21 08:08] abdasgupta commented on #362
Closing this issue as we have divided the problem in this issue into two and raised #436 and #437 to track them

[2022-09-21 08:08] #362 closed

[2022-09-21 08:21] abdasgupta commented on #354
We have already validated recovery from transient quorum loss ( see here https://github.com/gardener/etcd-druid/issues/436) . For a non quorate cluster, we will need human intervention. The human operator will decide how to recover a non quorate cluster. We will be providing a playbook for their guidance. Please follow https://github.com/gardener/etcd-druid/issues/437 for more details. As the scop

[2022-09-21 08:21] #354 closed

[2022-09-22 05:20] ishan16696 commented on #280
We had introduced the livenessProbe in multi-node etcd with this PR: https://github.com/gardener/etcd-druid/pull/396
But we found out that livenessProbe was causing more harm than good. Then, we decided to remove the livenessProbe from etcd cluster with this PR: https://github.com/gardener/etcd-druid/pull/423
So, I'm opening this issue just to track the liveness Probe for etcd cluster and whenever

[2022-09-22 06:36] #413 closed

[2022-09-30 06:57] #435 closed

[2022-10-06 10:20] ishan16696 opened #445 "[Upgrade] Move the etcd from `v3.4.26` to `v3.4.34` to `v3.5.x`"
**Feature (What you would like to be added):**
Upgrade the etcd from `v3.4.26` to `v3.5.x`.

**Motivation (Why is this needed?):**
We are missing many fixes which comes only in latest version of etcd `3.5.x`. eg:
 1. https://github.com/etcd-io/etcd/pull/14400
 2. https://github.com/etcd-io/etcd/pull/12410
 3. https://github.com/etcd-io/etcd/pull/13399
 and many more

The upgrade will be completed

[2022-10-13 11:54] AleksandarSavchev opened #447 "[Feature] Upgrade g/g to version >= `v1.44.0`"
**Feature (What you would like to be added):**
I would like a newer version of gardener/gardener (currently: `v1.36.0`) to be used (one that is >= `v1.44.0`)

**Motivation (Why is this needed?):**
g/g versions < `v1.44.0` import `hvpa-controller v0.3.1` which uses `k8s.io/client-go v11.0.1-0.20190409021438-1a26190bd76a+incompatible`. Since `etcd-druid` is imported in `gardener` it requires us to h

[2022-10-25 07:19] shreyas-s-rao opened #560 "VPA does not provide recommendations for resources with a parent resource that defines `/scale` subresource"
**What happened**:
VPA does not provide recommendations for resources whose parent resource defines the `/scale` subresource.
Case in point: the etcd statefulset in gardener is targeted by the VPA in order to provide scaling recommendations for the etcd pod(s). The etcd statefulset is controlled by etcd-druid, which generally did not specify the `ownerRef` on it. With g/g v1.53.0, etcd-druid start

[2022-10-26 12:24] vlerenc opened #452 "[BUG] Permanent Quorum Loss Recovery Failure"
**Describe the bug:**
While working through permanent quorum loss runbook, I noticed that the recovery often fails (at least for me). In most cases, one pod cannot join the cluster and "forms a new cluster", indicated by log messages such as `cluster ID mismatch: peer[dce2d98511a55225]=cdf818194e3a8c32, local=8879bbfa20c8a9c3` and the line `initial-cluster-state: new` in the ETCD config of the bro

[2022-10-26 12:57] vlerenc opened #453 "[Feature] Improvement Proposal for `kubectl` Custom Columns of `etcd` Resources"
**Feature (What you would like to be added):**
I am not certain, what exactly the `etcd` resource `READY` column in the `kubectl` output depicts and find it confusing. At first, I was confused why all 3 pods must be ready for the `etcd` resource to become ready. What I care for as an operator is that the quorum is given and the `etcd` cluster is available/can serve requests. Only with second prior

[2022-10-27 10:54] AleksandarSavchev opened #454 "[Feature] Remove the use of `Render` method of the `chartrenderer.Interface`"
**Feature (What you would like to be added):**
I would like the use of `Render` method of the `chartrenderer.Interface` to be removed from this project (currently used in `./controllers/etcd_controller.go` and `./controllers/etcdcopybackupstack_controller.go`)

**Motivation (Why is this needed?):**
The `Render` method is deprecated in favour of `RenderEmbeddedFS` and will be removed in the future.

[2022-11-02 08:21] #429 closed

[2022-11-04 08:12] #452 closed

[2022-11-08 06:08] ishan16696 commented on #445
/assign

[2022-11-08 08:55] abdasgupta commented on #286
e2e tests to handle multi-node scenario are covered in:
https://github.com/gardener/etcd-druid/pull/418
https://github.com/gardener/etcd-druid/pull/451

[2022-11-08 20:37] prabhatsharma opened #457 "helm chart installation fails."
**Describe the bug:**
Installation steps using helm chart

modify values.yaml
[code]

kubectl create namespace etcd-druid
[code]

**Expected behavior:**
ectd-druid should have installed with a running pod

**How To Reproduce (as minimally and precisely as possible):**

[code]

**Logs:**

**Screenshots (if applicable):**

**Environment (please complete the following information):**
 - Etcd version/

[2022-11-10 14:42] vlerenc commented on #453
P.S.: Personally, I use this command/alias now for `etcd` resources:
[code]
...yielding:
[code]

[2022-11-10 14:43] vlerenc opened #459 "Various Improvement Proposals"
**What you would like to be improved:**
While running zone outage simulations/using etcd-druid directly, I made a few observations that are maybe helpful:

1. Rolling update strategy for today installed druids looks "default":
[code]

2. Missing label `app` for `podAntiAffinity`:
[code]
  should probably be:
[code]

3. Outdated label `garden.sapcloud.io` for `selector`:
[code]
should probably be:

[2022-11-10 15:00] rfranzke commented on #459
For 2., we plan to drop the anti-affinity in favor of TSCs only anyways, cc @timuthy

[2022-11-10 15:04] vlerenc commented on #459
Right, thanks for reminding @rfranzke. I did the list 2 weeks ago when I skimmed through the specs of my test setup and just now opened a few more tickets with observations. Please ignore what's obsolete, but maybe one or the other still makes sense to check out.

[2022-11-11 03:52] ashwani2k commented on #453
Just a thought, so we can keep `Quorate` and `BackupSucceeded` as default output and may be we can implement a `-o wide` option like we recently did for [MCM](https://github.com/gardener/machine-controller-manager/pull/746) for the remaining columns.

[2022-11-14 06:01] abdasgupta commented on #437
We are not handling permanent quorum loss automatically, as of now. If the ETCD cluster face a permanent quorum loss, a human operator needs to intervene. We wrote a [playbook](https://github.com/gardener/etcd-druid/blob/master/docs/operation/Recover_From_Etcd_Permanent_Quorum_Loss.md) to guide the human operator to bring up the cluster from permanent quorum loss.

I am closing this issue, as of n

[2022-11-14 06:01] #437 closed

[2022-11-15 05:28] ishan16696 commented on #206
Just mentioning few points:
When disk get corrupted for 1 cluster member in multi-node etcd cluster, then druid is not getting involved. Please refer to this [doc](https://github.com/gardener/etcd-druid/blob/master/docs/single_member_restoration.md).
When there is a disk failure for majority of cluster member in multi-node etcd cluster, then we have to do the manual intervention as this is the cas

[2022-11-16 04:41] shreyas-s-rao opened #465 "[Feature] Kind-based druid e2e tests and pipeline integration"
**Feature (What you would like to be added):**
As a developer, I would like be able to easily run the e2e tests for etcd-druid without the need for an external cluster. Ideally, I would like to use a local [kind cluster](https://kind.sigs.k8s.io/docs/user/quick-start/) to do this, similar to [how gardener/gardener does it](https://github.com/gardener/gardener/blob/master/docs/development/testing.m

[2022-11-16 07:53] timebertt commented on #465
Relevant presubmit and periodic jobs for g/g's default e2e test are configured here:
https://github.com/gardener/ci-infra/blob/7a6196b887987748732e58511de9df1560d06d7f/config/jobs/gardener/gardener-e2e-kind.yaml
I think, it's best to use prow for these jobs as we already have the infrastructure and experience there and can simply copy a lot of configuration, code, etc.

cc @oliver-goetz

[2022-11-25 06:18] unmarshall commented on #259
see https://github.com/gardener/etcd-druid/pull/235#discussion_r1032036084

[2022-11-27 06:33] lizzzcai opened #473 "[Feature] Support Etcd Authentication"
**Feature (What you would like to be added):**

In the current `etcd` spec, there is a field `AuthSecretRef` but no [implementation](https://github.com/gardener/etcd-druid/search?q=authSecretRef) for etcd authentication.

**Motivation (Why is this needed?):**

To secure the etcd endpoint via [authentication](https://etcd.io/docs/v3.5/op-guide/authentication/authentication/). In our usecase, `tls`

[2022-11-28 07:07] unmarshall opened #475 "[Improvement] Remove dependency on gardener/gardener for hack/scripts"
**Describe the enhancement:**

Currently a lot of scripts from g/g are being used inside etcd-druid. This brings in a LOT of dependencies which are not at being used in etcd-druid, resulting in a very fat vendor directory. We would like to only include dependencies that we currently use and nothing more than that.

**Expected behavior:**
Scripts (in /hack folder) that are only needed by druid will

[2022-11-28 07:21] #221 closed

[2022-11-28 08:04] unmarshall opened #476 "[Enhancement] Simplify etcd configuration and use proper URL instead of using @ as separator"
**Feature (What you would like to be added):**

When creating configuration to be used subsequently by etcd-backup-restore and etcd containers two properties, namely:
`initial-advertise-peer-urls` and `advertise-client-urls` use @ character to separate different parts of the URL. This is not really required. Other properties which also contain URLs use proper HTTP URL format namely: `initial-clust

[2022-11-28 10:18] #457 closed